/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import "tailwindcss";
@font-face {
  font-family: "Jersey10";
  src: url("/Web-When-/fonts/Jersey10-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PressStart2P";
  src: url("/Web-When-/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-*: initial;
  --color-rich-black: #0d1321ff;
  --color-prussian-blue: #1d2d44ff;
  --color-paynes-gray: #3e5c76ff;
  --color-silver-lake-blue: #748cabff;
  --color-eggshell: #f0ebd8ff;

	--font-press-start-2p: PressStart2P;
	--font-jersey-10: Jersey10;
}

@theme inline {
	--shadow-pixel-dark: 0px 5px var(--color-rich-black), 0px -5px var(--color-rich-black), 5px 0px var(--color-rich-black),
    -5px 0px var(--color-rich-black), 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff1f, inset 0px -5px #00000030;
  --shadow-pixel-light: 0px 5px var(--color-eggshell), 0px -5px var(--color-eggshell), 5px 0px var(--color-eggshell),
    -5px 0px var(--color-eggshell), 0px 10px #00000038, 5px 5px #00000038, -5px 5px #00000038,
    inset 0px 5px #ffffff1f, inset 0px -5px #00000030;
}

body {
  font-family: "Jersey10", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 20px;
  line-height: 1.7;
}
