---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import Dropdown from "./Dropdown.astro";
---

<header class='shadow-lg fixed top-0 left-0 w-full z-50 sr bg-rich-black flex items-center px-2 lg:px-4'>
  <h1 class='flex-1 text-2xl font-press-start-2p'>When</h1>
  <nav class='lg:hidden'>
    <Dropdown>
      <HeaderLink href='/Web-When-/'>Inicio</HeaderLink>
      <HeaderLink href='/Web-When-/updates'>Actualizaciones</HeaderLink>
      <HeaderLink href='/Web-When-/about'>Sobre</HeaderLink>
    </Dropdown>
  </nav>
  <nav class="hidden gap-4 lg:flex">
    <HeaderLink href='/Web-When-/'>Inicio</HeaderLink>
    <HeaderLink href='/Web-When-/updates'>Actualizaciones</HeaderLink>
    <HeaderLink href='/Web-When-/about'>Sobre</HeaderLink>
  </nav>
  <div class='flex-1 hidden lg:block'></div>
</header>
